{{#each Lists}}
   <div class="list-name-container" data-list-id="{{ this.id }}">
       <div class="list-icon-container">
           <span class="list-name">{{this.name}}</span>
           <img class="list-delete-icon" src="../assets/images/close.png"></img>
           <img class="list-eye-icon" src="../assets/images/eye.png"></img>
       </div>
   </div>
{{/each}} 
