{{#each Cards}}
   <div class="list-name-container" data-list-id="{{ this.id }}" data-list-position="{{ this.position }}">
       <div class="list-icon-container">
           <span class="list-name">{{this.name}}</span>
       </div>
   </div>
{{/each}} 
